@{ ViewBag.Title = "Desarrollo"; }
<br />
<br />
<br />
<h3 class="text-center">@ViewBag.Message</h3>

<br />

<div align="center">
    <div class="container boxcontainer" aling="center">
        <img class="img-responsive" src="~/img/IMG_20190116_153121.jpg" width="250px" height="250px" />
        <br /><br />
        <table class="table table-bordered text-center" align="center">
            <tr>
                <th colspan="5" class="text-center tabletitle">
                    Bryan Gerardo Elizondo Mora
                    <br />
                </th>
            </tr>
            <tr>
                <th>
                    Cedula
                </th>
                <th>
                    E-mail
                </th>
                <th>
                    Fecha de Nacimiento
                </th>
                <th>
                    Carrera
                </th>
                <th>
                    Sexo
                </th>

            </tr>
            <tr>
                <td>
                    207850339
                </td>
                <td>
                    bryanelizondo02@gmail.com
                </td>
                <td>
                    01 Noviembre, 1998
                </td>
                <td>
                    ISW
                </td>
                <td>
                    Masculino

                </td>

            </tr>

        </table>
        <p>
            <a href="Index" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Volver">
                <i class="fas fa-arrow-left"></i> Volver al Inicio
            </a>
        </p>
    </div>

</div>
    

