#contact {
    margin-top: 50px;
    padding: 25px;
}

/*#telefono {
    background-color: #5db1ef;
    color: #e7f2ef
}

#whatsapp {
    background-color: #2db42c;
    color: #e7f2ef
}

#correo {
    background-color: #ca2429;
    color: #e7f2ef
}

.iconContact{
    font-size: 24px;
}
*/