
#carta {
    border: 1px solid #bab3b3;
    border-radius: 4px;
    background-color: #f5f0f0;
}

#cardHead {
    padding: 4px;
    background-color: #c2d7d8;
    text-align: center;
}

#cardBody{
    padding-top: 6px;
}

#cardFoot {
    padding: 6px;
    margin-top: 4px;
    background-color: #c2d7d8;
    text-align: center;
}

.imgCatalogo {
    width: 350px;
    height: 180px;
}

.price {
    font-style: normal;
    font-weight: bold;
}

