.boxcontainer {
    border-radius: 7px;
    padding: 5px
}

.img-responsive {
    border-radius: 5px;
    
}

.tabletitle {
    background-color: #c2d7d8;
}

#tarifa {
    font-style: normal;
    font-weight: bold;
}

#side {
    float: left;
}

#containerimg {
    padding: 25px;
}

.detail{
    display: block;
    padding: 30px;
    margin: 20px;
}











